<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><img src="https://educhamp.s3-ap-southeast-2.amazonaws.com/logo/rsz_1educhamplogo.png" width="130" height="100" alt="logo"></i></h1>
      <p>Create an account or login To Play Quiz</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        style="background-color: orangered;">Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block" style="background-color: orange;">Login</a>
    </div>
  </div>
</div>
